body {
	width: 30em;
	text-align: center;
	padding-bottom: 2em;
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0.75em;

	#enable-passwords-div {
		text-align: left;
		margin-left: 2em;
	}
}

#enable-app-div {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	input[type=checkbox] {
		visibility: hidden;
	}
}

#add-alias {
	input {
		&[type=text] {
			width: 35%;
		}
		&[type=submit] {
			width: 15%;
		}
	}
}

#remove-alias {
	input {
		&[type=text] {
			width: 60%;
		}
		&[type=submit] {
			width: 25%;
		}
	}
}

#exchange-table, #exchange-header {
	width: 85%;
	text-align: left;
	td, th {
		padding: 0.5em 1em;
		padding-bottom: 0em;
		display: inline-block;
		overflow-x: auto;
	}
	tbody {
		display: block;
		max-height: 10em;
		overflow-y: auto;
		overflow-x: hidden;
		width: 25.5em;
		tr {
			width: 100%;
		}
	}
}

#exchange-header {
	display: block;
	height: 2em;
}

.left-align {
	text-align: left;
}

/* SLIDE THREE */

.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin-left: 0.5em;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #CD2626;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}